footer {
  z-index: 1;
  width: 100%;
  background-color: #1a1a1a;
  padding: 56px 0px 71px 0px;
  color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); }

.section-footer .intro-wrap {
  margin-bottom: 35px; }
  .section-footer .intro-wrap p, .section-footer .intro-wrap p span {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.8px;
    text-align: left; }
  .section-footer .intro-wrap p {
    padding-left: calc(14px * 4);
    text-indent: calc(-14px * 4); }
    .section-footer .intro-wrap p span {
      margin-left: 20px; }

.section-footer .link-wrap .icon-link-wrap, .section-footer .link-wrap .text-link-wrap {
  display: inline-block;
  font-size: 0px; }

.section-footer .link-wrap .icon-link, .section-footer .link-wrap .text-link {
  font-size: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .section-footer .link-wrap .icon-link:hover, .section-footer .link-wrap .text-link:hover {
    opacity: 0.5;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); }
  .section-footer .link-wrap .icon-link a, .section-footer .link-wrap .text-link a {
    display: block; }

.section-footer .link-wrap .icon-link {
  width: 25px;
  height: 25px; }
  .section-footer .link-wrap .icon-link img {
    width: 100%;
    height: auto;
    max-height: 100%;
    vertical-align: bottom; }

.section-footer .link-wrap .text-link {
  padding-left: 20px;
  position: relative; }
  .section-footer .link-wrap .text-link:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.6);
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .section-footer .link-wrap .text-link.no1:before {
    display: none; }
  .section-footer .link-wrap .text-link a {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2.2px;
    text-align: right;
    color: #ffffff;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  .section-footer .link-wrap .text-link:hover a {
    color: #dea56a; }

.section-footer .sub-btn-pos, .section-footer p.copyright {
  text-align: right; }

.section-footer p.copyright {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.7px;
  color: #797979;
  margin-top: 26px; }

.section-footer .sub-btn-wrap {
  width: 250px;
  border: 1px solid #dea56a;
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  display: inline-block; }
  .section-footer .sub-btn-wrap button.sub-btn {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0px; }
    .section-footer .sub-btn-wrap button.sub-btn:focus {
      background-color: rgba(222, 165, 106, 0.1); }
    .section-footer .sub-btn-wrap button.sub-btn a {
      padding: 18px 0;
      width: 100%;
      height: 100%;
      display: block;
      position: relative; }
      .section-footer .sub-btn-wrap button.sub-btn a:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        background-color: #dea56a;
        -webkit-transition: -webkit-transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        transition: -webkit-transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        transition: transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        transition: transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1); }
      .section-footer .sub-btn-wrap button.sub-btn a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        background-color: rgba(222, 165, 106, 0.1);
        -webkit-transition: -webkit-transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        transition: -webkit-transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        transition: transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        transition: transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s 0.2s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition-delay: .4s;
        -o-transition-delay: .4s;
        transition-delay: .4s; }
      .section-footer .sub-btn-wrap button.sub-btn a span {
        position: relative;
        font-family: 'Open Sans';
        font-size: 14px;
        letter-spacing: 2.1px;
        color: #dea56a;
        left: 0px;
        padding: 0 38px;
        -webkit-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
        z-index: 1;
        -webkit-transition-delay: .2s;
        -o-transition-delay: .2s;
        transition-delay: .2s;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2.4px; }

@media all and (min-width: 991px) {
  .section-footer .sub-btn-wrap .sub-btn:hover a:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .section-footer .sub-btn-wrap .sub-btn:hover a:before {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center; }
  .section-footer .sub-btn-wrap .sub-btn:hover a span {
    color: #1a1a1a;
    left: 5px; } }

@media all and (max-width: 991px) {
  .section-footer .intro-wrap p, .section-footer .intro-wrap p span {
    text-align: center; }
  .section-footer .link-wrap {
    text-align: center; }
    .section-footer .link-wrap .icon-link-wrap {
      margin-bottom: 15px; }
    .section-footer .link-wrap .icon-link-wrap, .section-footer .link-wrap .text-link-wrap {
      display: block;
      text-align: center; }
    .section-footer .link-wrap .icon-link {
      margin: 0px 12.5px; }
    .section-footer .link-wrap .text-link {
      margin-right: 20px; }
  .section-footer .sub-btn-pos {
    margin-top: 35px; }
  .section-footer .sub-btn-pos, .section-footer p.copyright {
    text-align: center; } }

@media all and (max-width: 480px) {
  .section-footer .sub-btn-wrap {
    margin: 0 auto; } }
